.about__container{
    grid-template-columns: 35% 50%;
    @apply grid gap-[15%]
}

.about__me{
    background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
    @apply w-full aspect-square grid place-items-center rounded-3xl
     
}

 

.about__me-image img{
    @apply rounded-3xl  
}

 

.about__cards{
    @apply grid-cols-2 grid gap-3
}

.about__card{
    @apply border-[1px] border-transparent rounded-xl text-left 
    py-2 px-2 duration-300 bg-[var(--color-bg-variant)] flex items-center relative
} 
 
.about__icon svg{
    @apply text-2xl  mr-3 text-[var(--color-primary)]
}

.about__icon {
    @apply inline-block z-10
}

.about__card h5{
    @apply text-sm font-thin z-10  
}

.about__card small{
    @apply text-sm  
}

.about__content p{
    @apply my-8 text-[var(--color-light)] 
     
}

.progress__bar{
    @apply absolute w-[93%]
}
.progress__bar > div{
    @apply block bg-[#28264c] h-[30px] z-[5] rounded-3xl
}
.progress__bar span {
    @apply absolute right-0 top-0 opacity-[.4] text-[9px] pointer-events-none
}
@media(max-width:1024px){
    .about__container{
        @apply grid-cols-1 gap-0
    }
    .about__me{
        @apply w-1/2 mx-auto mt-6 mb-12
    }
    .about__content p{
        @apply mt-4 mb-6
    }
}

@media(max-width:600px){
    .about__me{
        @apply w-[65%] mt-0 mx-auto mb-12
    }
    .about__cards{
        grid-template-columns: 1fr 1fr;
        @apply  gap-4 mb-8
    }
    .about__content {
        @apply text-center
    }
    .about__card h5{
        @apply text-[12px]
    }
    .about__icon svg {
        @apply text-base mr-1
    }
}