@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


:root{
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant:rgba(77,181,255,0.4);
    --color-light: rgba(255,255,255,.6);
    --color-white: #ffffff;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;

}

html{
    @apply scroll-smooth
}

::-webkit-scrollbar{
    @apply hidden
}
  
 body{
    font-family: 'Poppins', sans-serif;
    @apply bg-[url(../src/assets/bg-texture.png)] leading-7 text-[var(--color-white)]
    bg-[var(--color-bg)]
 }



/* ================= GENERAL STYLES ================*/

 

*{
    @apply m-0 p-0 border-0 outline-0 box-border no-underline;
}

.container{
    @apply mx-auto w-[var(--container-width-lg)]
}

h2,h3,h4,h5,h6{
    @apply font-medium  
}

h1{
    @apply text-4xl font-medium
}
section {
    @apply pt-24 mt-8
}
section > h2,
section > h5{
    @apply text-center text-[var(--color-light)] mb-1
}

section > h5{
    @apply font-thin uppercase
}

section > h2{   
    @apply mb-12 text-3xl text-[var(--color-primary)]
}
.text-light{
    @apply text-[var(--color-light)]
}
a{
    @apply text-[var(--color-light)] duration-300
}
a:hover{
    @apply text-[var(--color-white)]
}
.btn{
    @apply inline-block px-3 py-3 rounded-md cursor-pointer 
    text-[var(--color-primary)] w-max border-[1px] border-[var(--color-primary)];
}
.btn:hover{
    @apply border-transparent text-[var(--color-bg)] bg-[var(--color-white)]
}

.btn-primary{
    @apply bg-[var(--color-primary)] text-[var(--color-bg)]
}
img{
    @apply block w-full object-cover
}

/* ================= MEDIA QUERIES MEDIUM ================*/

@media(max-width: 1024px){
    .container {
        @apply w-[var(--container-width-md)]
    }
    section{
        @apply mt-24 
    }
}

/* ================= MEDIA QUERIES SMALL ================*/

@media(max-width: 600px){
    .container{
        @apply w-[var(--container-width-sm)]
    }
    section > h2{
        @apply mb-8
    }
    section {
        @apply pt-4  
    } 
}